:root {
	--primary-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.beers {
	padding: 20px;
}
.beers-title {
	text-align: center;
}
.beers-list {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
}

.beer-card {
	display: flex;
	align-items: center;
	width: calc(33% - 30px);
	margin: 10px;
	padding: 15px;
	box-shadow: var(--primary-box-shadow);
	text-align: center;
	background-color: rgb(221, 228, 228);
}
.beer-card i {
	color: #2d9f21;
}

.beer-card button {
	font-size: small;
	padding: 0.3em;
	border-radius: 0.5em;
	text-align: left;
	border: none;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
	cursor: pointer;
}

.beer-name {
	font-size: medium;
	font-weight: bold;
}

.beer-price {
	font-size: medium;
}
