:root {
	--primary-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.beers {
	padding: 20px;
}

.beers-title {
	text-align: center;
}

.beers-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	padding: 1rem 1rem;
	background-color: #6c9fc63d;
	border-radius: 20px;
}

.beer-card {
	display: flex;
	align-items: center;
	padding-left: 1rem;
	margin: 1rem;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
	border-radius: 15px;
	width: 350px;
	height: 100px;
}

.card-content {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.beer-name,
.beer-price {
	line-height: 30px;
	font-weight: bold;
}

.beer-price {
	text-align: left; /* Aligns price to the right */
}

.AddButton {
	padding: 0.5rem 1rem;
	border: none;
	height: 100%;
	border-radius: 50px 10px 10px 50px;
	background-color: #c0e0bed4;
	color: black;
	cursor: pointer;
	width: 30%;
	font-size: 2.5rem;
}
