/* Sheng-Yu Wu */
.Alan-homePageImg {
	background-image: url('https://images.unsplash.com/photo-1597290282695-edc43d0e7129?q=80&w=2075&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
	height: 70vh;
	background-position-x: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Alan-homePageImg h1 {
	color: white;
	text-shadow: 0 0 13px #ff0000, 0 0 15px #ffffff;
	text-align: center;
	font-size: 500%;
}

.Alan-homePageButtonSection {
	margin: 2%;
	display: flex;
}

.Alan-homePageButtonSection button {
	text-align: center;
	background-color: rgb(152, 152, 152);
	border-radius: 3em;
	width: 25%;
	padding: 1%;
	margin: 1%;
}
