.menu-container {
	box-shadow: var(--primary-box-shadow);
}

/* Alan ↓ */
.menu-page-container {
	display: flex;
	height: 100%;
}

.menu-book {
	width: 70%;
	background-color: rgb(212, 206, 218);
	padding: 2%;
	border-radius: 2em 0 0 2em;
}

.menu-category-container ul {
	display: flex;
	justify-content: left;
	margin: 0px;
}

.menu-category-container li {
	display: inline-block;
	background-color: rgb(255, 255, 255);
	margin-right: 0.1em;
	color: rgb(0, 0, 0);
	width: 10em;
	height: 3em;
	text-align: center;
	font-size: larger;
	font-weight: bolder;
	border-radius: 0.5em 0.5em 0 0;
	padding: 0.6em;
	vertical-align: text-bottom;
	box-shadow: 5px 0px 1px 0px #888888;
}
.menu-category-container li:hover {
	background-color: rgb(220, 207, 207);
}

.menu-content-container {
	background-color: rgb(255, 255, 255);
	border-radius: 0 3em 3em 3em;
	box-shadow: 5px 0px 1px 1px #888888;
}

.checkout-box {
	background-color: rgb(127, 129, 129);
	color: rgb(0, 0, 0);
	padding: 2em;
	width: 30%;
	height: 100%;
	border-radius: 0 2em 2em 0;
}

.checkout-box-title-container {
	display: flex;
	justify-content: space-between;
	height: 8%;
	background-color: rgb(86, 175, 175);
	border-radius: 2em 2em 0 0;
	padding: 8%;
	box-shadow: 5px 0px 1px 1px #605d5d;
}

.checkbox-table-container h1 {
	font-size: small;
	font-weight: bolder;
}

.checkout-box-title-container button {
	border-radius: 1em;
	width: 30%;
	font-size: large;
	vertical-align: bottom;
}

.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}

.checkbox-table-container {
	background-color: rgb(255, 255, 255);
	height: 75%;
	padding: 1em;
	box-shadow: 5px 0px 1px 1px #605d5d;
	overflow: auto;
}

.checkbox-table table {
	table-layout: fixed;
	width: 100%;
	height: 90%;
	border-collapse: collapse;
	background-color: rgb(255, 255, 255);
	font-size: larger;
	font-weight: bolder;
	overflow: scroll;
}

.checkbox-table th {
	color: black;
	text-align: center;
	height: 2em;
	font-size: larger;
	font-weight: bold;
	border-style: outset;
}

.checkbox-table td {
	font-size: large;
	padding: 1px;
	margin: 5px;
	height: 3em;
}

.checkout-box-bottom {
	padding: 5%;
	height: 15%;
	background-color: white;
	border-radius: 0 0 2em 2em;
	box-shadow: 5px 3px 1px 1px #605d5d;
}

.checkbox-submit {
	display: flex;
	justify-content: flex-end;
	height: 40%;
}

.checkbox-submit button {
	border-radius: 1em;
	width: 35%;
	text-align: center;
	font-size: x-large;
	border: none;
	height: 100%;
	box-shadow: 3px 0px 1px 1px #9e9b9b;
}

/* Alan ↑ */
