.stockTable-container{
    width: 100%;
    height: 75vh;
    border-radius: 1em;
    background-color: white;
    overflow:auto;
    padding: 2em;
}

.stockTable-container table{
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 1em;
    

}

.stockTable-container tr {
    height: 3em;
}


.stockTable th {
    text-align: left; /* Default alignment for headers */
  }
  
  .stockTable td {
   text-align: left; /* Default alignment for data cells */
  }
  
   .stockTable td:last-child { /* Right align only the last cell */
    text-align: right;
  }
